name: build.yml
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
    contents: read
    packages: write

env:
  CONTAINER_IMAGE: ghcr.io/${{ github.repository_owner }}/winders:latest

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Build windows image
        run: |
          docker build . -t ${{ env.CONTAINER_IMAGE }}
          docker image ls
          docker run ${{ env.CONTAINER_IMAGE }} "cd / ;Get-ChildItem -Filter *.txt -Recurse"
          echo ${{ env.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
          docker push ${{ env.CONTAINER_IMAGE }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ env.CONTAINER_IMAGE }}
          format: 'table'
          exit-code: 0
          ignore-unfixed: true
          vuln-type: 'os,library'
